.vscode/launch.json
CDC version/bmi.css
CDC version/bmi.html
CDC version/bmi.js
MOH version/BMI update.pdf
MOH version/bmi.js
data - WHO - ages 0-5/1.txt
data - WHO - ages 0-5/bmianthro - bmi for age.txt
data - WHO - ages 0-5/lenanthro - length + height for age.txt
data - WHO - ages 0-5/length + height for age original WHO.txt
data - WHO - ages 0-5/weianthro - weight for age.csv
data - WHO - ages 0-5/weianthro - weight for age.txt
data - WHO - ages 5-19/bfawho2007.txt
data - WHO - ages 5-19/hfawho2007.txt
data - WHO - ages 5-19/wfawho2007.txt
