:root {
    --form-control-color: #007bff;
    --container-background: #f3f0f0;
  }

main {
    margin: 0px auto;
    box-sizing: border-box;
    font-family:'Helvetica';
    background-color: var(--container-background);
    padding: 12px;
    box-shadow: 3px 3px 3px #88888830;
    width:100%;
    border-radius:8px;

}

.title__section{
    text-align: center;
    margin: -12px -12px 20px -12px;
    padding: 20px 5px 15px 5px;
}

.subHeading{
    text-align:center;
    margin: 1.5rem;
}

.title__section-description{
    color: grey!important;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 10px;
}

input{
    padding: 8px!important;
    border-width: 1px!important;
    border-radius:3px;
}

.gender__section {
    cursor: pointer;
}

.inputnumber{
    width:25%;
}

.inputdate{
    width: 30%;
    cursor: pointer;
}

#calcbutton{
    padding:5px;
}


.gender__section{
    justify-content: center;
    margin: 20px;
    gap:40px;

}
.gender__section label{
    margin: 0 5px;
}

.calculate__section, .source__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px;
}

.date__section-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 30px;

}

.result__section-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    border: 1px solid grey;
    padding: 5px;
    background-color: white;
}





.result__section-result {

    padding: 5px;
    margin: -5px 0px -5px 5px;
    width: 50%;
}

.result__section-title{
    background-color: lightgrey!important;
    width: 50%;
    margin: -5px 0px -5px -5px;
    padding: 5px;
}


.source__section {
    background-color: aliceblue;
    margin: 12px -12px -12px -12px;
    padding: 10px;
    font-size: 10px;
}


.error-section {
    font-size: 16px;
    text-align: center;
    border: 1px solid #ed5565;
    background-color: #fcdfe2;
    color: #ed5565;
    margin: 1em 1em;
    padding: 1em;
    display: none;
  }
  


/*the modal date box*/
.dp-modal{
    z-index:1000;
}




   .z-score, .centile-range {
    font-style: italic;
    font-size: 0.8rem;
  }

/* Base styling for the tabs and chart section */
.tabs {
    margin-bottom: 20px;
    background-color: #cac7c7;
}

.tab-button, #calcbutton, .closedButton, .openButton {
    background-color: #cac7c7;
    color: white; /* White text for better readability */
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    color:black;

}


.openButton {
    color:white;
    background-color:#007bff;
  }

.closedButton, .openButton {
    width:100%;
    margin-bottom:1rem;
}

.tab-button:hover, #calcbutton:hover {
    background-color: #0056b3; /* Darker shade on hover for interactive feel */
    color:white;
    
}

.closedButton:hover, .openButton:hover{
    background-color: #0056b3;
}

/* Active tab styling could be added here */

.chart__section {
    text-align: center;
}

/* Styling for the canvases */
.chart-canvas {
    width: 100%; /* Responsive width */
    border: 1px solid #ddd; /* Border for visibility */
    margin: 0 auto; /* Centering the canvas */
    min-height:400px;
}

/* Media queries for responsive design can be added here */

.tab-button {
    cursor: pointer;
}

.tab-button.active {
    background-color: #007bff;
    color:white;
}


  

  form {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
  
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    cursor:pointer;
  }
  

  
  .form-control:focus-within {
    color: var(--form-control-color);
  }
  
  input[type=radio] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    -moz-appearance: none;
         appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor:pointer;
  }
  
  input[type=radio]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type=radio]:checked::before {
    transform: scale(1);
  }
  
  input[type=radio]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }


  /* Info Bar Styles */


/* Hidden Class */
.hidden {
    display: none;
}

/* Visible Class */
.visible {
    display: block;
}
/* Info Bar Styles */
#infoBar {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    display: none; /* Hide by default */
}

#infoBar ul {
    padding-bottom: 0;
    line-height:1.5rem;
  }
